target/
*.iml
.idea/
.gradle
*.class
*.log
.env
.venv
.workbuddy

.DS_Store

.vscode

docker/volumes
data/rag-files

env/
venv/
ENV/
env.bak/
venv.bak/
out
gen

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt